html, body {
  background-color: #FFF;
}

.box-a {
  width: 400px;
  height: 200px;
  background-color: #e7eff5
  padding: 20px 20px 0 20px;
  border: 2px solid #d3dee7;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 40px;
  /*box-shadow has 4 values. First 2 values control the positioning. 1st-Horizontal, 2nd- Vertical, 3rd-Blur Radius , 4th-Color of Shadow */
  box-shadow: 10px 5px 5px rgba(0, 0, 0, .15);
  /*Horizontal and Vertical offset can push the shadow to the right or bottom. If you use negative values (-10px) then the shadow can shift to the top or to the left*/

  /*to add a shadow on the inside of the box, all you have to do is add "inset" (inner shadow). If you want the shadow on the outside and on the inside, all you have to do is copy and paste the same 4 values and for one of them you will add "inset" in front of those values. These need to be added into 1 value. All you need to do is add a comma inbetween the 4 values. */
}


/*Rounded Corners Example*/
.box-b {
  text-align: center;
  background-color: #d3dee7;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-bottom: 40px;
  margin-left: 40px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .10);
  border-radius: 10px;
  /*If you only have 1 value, this will be placed on all 4 corners. You can add a total of 4 values if you want to add different values to each corner (border-radius: 10px 10px 10px 10px;) This works in a clockwise rotation.*/

  /*To create eliptical rounding, you'll need to add "/" inbetween the values (ex. border-radius: 10px(vertical radius)/25px(horizontal radius);)*/
}

.box-c {
  text-align: center;
  background-color: #CCC;
  width: 200px;
  height: 200px;
  line-height: 200px;
  margin-bottom: 40px;
  margin-left: 40px;
  border-radius: 50%;
  /*the border-radius should take up half of the available width and height*/
}

.box-d {
  text-align: center;
  background-color: #444;
  color: #FFF;
  width: 350px;
  height: 200px;
  line-height: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
  /*To create an oval, we need to use eliptical rounding. We need to provide 2 values (Horizozntal & Vertical Values) Half of the vertical value and half of the horizontal value will give you the answer for your border-radius. */

  /*You can input 50% to the border-radius to recieve the same outcome for an oval shape. */

  /*Using 50%, you don't need to perform any math and it keeps things flexible. */
}
